@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-image: url('https://img.freepik.com/free-vector/watercolor-stains-abstract-background_23-2149107181.jpg?w=2000');
}

.bg-blur {
    background: transparent;
    backdrop-filter: blur(8px);
}
